
<aside class="w-64" aria-label="Sidebar">
  <div class="overflow-y-auto py-4 px-3">
    <ul class="space-y-2">
      <li>
        <a routerLink="./{{id}}" class=" flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
          <span class="ml-3">Моя страница</span>
        </a>
      </li>
      <li>
        <a routerLink="./news" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
          <span class="flex-1 ml-3 whitespace-nowrap">Новости</span>
        </a>
      </li>
      <li>
        <a routerLink="./friends" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
          <span class="flex-1 ml-3 whitespace-nowrap">Друзья</span>
        </a>
      </li>
      <li>
        <a routerLink="./groups" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
          <span class="flex-1 ml-3 whitespace-nowrap">Группы</span>
        </a>
      </li>
      <li>
        <a (click)="logOut()" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
          <span class="flex-1 ml-3 whitespace-nowrap">Выйти</span>
        </a>
      </li>

    </ul>
  </div>
</aside>
