<div class="flex flex-row">
  <div class="basis-1/4"></div>
  <div class="basis-1/6">
    <app-sidebar class="fixed"></app-sidebar>
  </div>
  <div class="basis-2/6 place-self-center">
    <router-outlet></router-outlet>
  </div>
  <div class="basis-1/4"></div>
  <button (click)="toTop()" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center mr-2 fixed bottom-2 right-2">
    <i class="arrowUp"></i>
  </button>

</div>

