<div class="flex flex-col">
  <header class="space-y-8 md:space-y-0 md:space-x-8 md:flex md:items-center border-b-2 border-gray-200 relative pb-10 pt-10">
    <div class="flex justify-center items-center w-full h-48 rounded-lg">
      <img alt="image description" class="max-w-xs h-auto rounded-full" src="https://doctor-veterinar.ru/media/k2/items/cache/675d28c04794e3c683f4419536c4c15f_XL.jpg" alt="image description">
    </div>
    <div class="w-full">
      <div class="h-5 rounded-full w-48 mb-4 text-center">{{fullName}}</div>
      <div class="h-3 mb-5">Возраст: {{age}}</div>
      <div class="h-3 mb-5">Email: {{email}}</div>
      <div class="h-3 mb-5">Номер телефона: {{phone}}</div>
    </div>
  </header>

  <child-comp></child-comp>

  <main class="m-50 p-1/2 flex flex-col w-full h-full relative text-center">
    <div role="status" class="m-5 overflow-auto border-2 rounded-full ring-offset-1 outline-1"  *ngFor="let post of posts">
      <div class="h-5 rounded-full overflow-auto max-w-[640px] mt-1/5 mx-5 text-2xl text-gray-900 dark:text-white h-full text-center">{{post.message}}</div>
      <div class="flex justify-center items-center mt-5">
        <img src="https://doctor-veterinar.ru/media/k2/items/cache/675d28c04794e3c683f4419536c4c15f_XL.jpg" class="mr-2 w-10 h-10 rounded-full m-2" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      </div>
      <div class="flex justify-items-start">
        <div class="basis-1/4"></div>
        <div class="basis-1/4">
          <button class="btn-secondary like-review" (click)="addLike(post)">
            <i class="fa fa-heart" aria-hidden="true">Like <br> {{post.likes}}</i>
          </button>
        </div>
        <div class="basis-1/4">
          <div class="basis-1/4">
            <button class="btn-secondary like-review" (click)="addDisike(post)">
              <i class="fa fa-heart" aria-hidden="true">Dislike <br> {{post.disLikes}}</i>
            </button>
          </div>
        </div>
        <div class="basis-1/4"></div>
      </div>
    </div>
    <div>
    </div>
  </main>
</div>
